/* style.css */
:root {
  --lovely-red: rgb(218,94,72); /* HEX#DA5E48 */
  --lovely-hot-pink: rgb(246,150,149); /* HEX#F69695 */
  --lovely-light-pink: rgb(235, 192, 205); /* HEX#FBC1A1 */
  --lovely-cream: rgb(242,243,238); /* HEX#F2F3EE */
}

html,
body {
  background-color: var(--lovely-cream);
  height: 100%;
  margin: 0;
}

.lovely-wrapper {
  margin: auto;
  display: flex;
  align-content: center;
  height: 100%;
}

.lovely-heart {
  width: 8rem;
  height: auto;
  margin: 0 auto;
}

.background-heart,
.heart-square {
  fill: var(--lovely-light-pink);
}

.animated.tertiary {
  animation-duration: 1s;
  animation-name: changeTertiary;
  animation-iteration-count: 1;
}

.animated.secondary {
  animation-duration: 1s;
  animation-name: changeSecondary;
  animation-iteration-count: 1;
}

@keyframes changeSecondary {
  0% {
    fill: var(--lovely-light-pink);
  }
  50% {
    fill: var(--lovely-hot-pink);
  }
  100% {
    fill: var(--lovely-light-pink);
  }
}
@keyframes changeTertiary {
  0% {
    fill: var(--lovely-light-pink);
  }
  50% {
    fill: var(--lovely-red);
  }
  100% {
    fill: var(--lovely-light-pink);
  }
}
