
.fa-solid{
  color:green;
}
.fa-brands{
  color:green;
}
.about-contents {
  backdrop-filter: blur(6px);
  border-radius: 20px;
  border: 20px solid #fff1;
}

.trail {
  color: #5ab400;
  column-gap: 10em !important;
  padding: 5px
  background-color: #fff7;
  border-radius: 50%;
  height: 5px;
  position: absolute;
  offset-path: border-box;
  offset-anchor: 100% 100%;
  animation: trail 8s infinite linear;
}

@keyframes trail {
  to {
    offset-distance: 100%;
  }
}

@media screen and (max-width: 991.98px){
      .trail {
            all: unset;
            color: #5ab400;
            text-align: center;
          }
}

.br {
   display: block;
   margin: 0.5px 0;
}
}
//* title */
.h1  {
  color: dodgerblue !important;
  font-family: "Arial";
  font-size: 3em;
  font-weight: 700;
  line-height: 1.1em !important;
}

/* subtitle  this changes the biotechnotlogy + Learn More About Me */
.subtitle {
  font-family: "Courier New";
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* heading, subtitle, and blurb */
.entity-contents {
  text-align: right !important;
  padding: 0 2em 0 2em;
}

/* blurb */
.about-contents {
  padding: 0 0 0 2em !important;
}

/* social links: block of links */
.about-entity .about-links {
  justify-content: flex-end !important;
  column-gap: 0em !important;
  font-size: 1.2em !important;

}

/* social links: individual links */
.about-entity .about-link {
  padding: 0.25em 0.25em !important;
  border: none !important;  
}

/* Learn More About Me */
.about-links.subtitle {
  padding: 0 0 0 2em !important;
  font-size: 1.2em !important; /* Consolidated font-size */
  font-family: "Red Hat Text";
  justify-content: flex-end !important;
    &:hover {
      text-decoration: underline !important; /* Add underline on hover */
    }
  }
}

/* image */
.about-image {
  margin-top: -2em;
  padding: 0 2em 0em 0;
}

/* // Home

// social links
.about-entity {
  // block of links
  .about-links {
    column-gap: 0em !important;
    font-size: 1.2em;
  }
  // individual links
  .about-link {
    padding: 0.25em 0.25em !important;
    border: none !important;
  }
} */

/* mobile query up for screens up to ~992px wide */
@media screen and (max-width: 991.98px) {
    /* move text up & center */
    .entity-contents {
      order: 2 !important;
      margin: -4em 0 0 0 !important;
      padding: 0 0 0 0em !important;
      text-align: center !important;
    }

    /* center subtitle */
    .subtitle {
      text-align: center !important;
    }

    /* social links: block of links */
    .about-entity .about-links {
      justify-content: center !important;
      font-size: 1em !important;
    }

    /* blurb */
    .about-contents {
      padding: 0 0 0 0em !important;
    }

    /* center Learn More About Me */
    .about-links.subtitle {
      justify-content: center !important;
    }

    /* move image up, adjust padding */
    .about-image {
      order: 1 !important;
      padding: 0 2em 0 2em !important;
    }
}
/*marquee*/
/* https://stackoverflow.com/a/53632585 */

.holder {
    position: relative;
    width: 200vw;
    width: 100%;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  @media only screen and (max-width: 1200px) {
  .holder {
    width: 100vw;
  }
}

@media only screen and (max-width: 800px) {
  .holder {
    width: 100vw;
  }
}

@media only screen and (max-width: 600px) {
  .holder {
    width: 100vw;
  }
}
  .news,
  .news2 {
    width: 200%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    animation-play-state: running;
  }
  .news {
    animation : slide 50s linear infinite;
    animation-direction: reverse;
    animation-delay: -17.5s;
    
  }
  .news2 {
    animation : slide-new2 50s linear infinite;
    animation-delay: -17.5s;
    
  }
  @media only screen and (max-width: 1200px) {
  .news,
  .news2 {
    animation-duration: 30s;
  }
}

@media only screen and (max-width: 800px) {
  .news,
  .news2 {
    animation-duration: 30s;
  }
}

@media only screen and (max-width: 600px) {
  .news,
  .news2 {
    animation-duration: 35s;
  }
}
  
  @keyframes slide {
    from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
  }
  @keyframes slide-news2 {
    from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
  }

 
